@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ----------------------------> Hide Scrollbar <---------------------------- */

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.grain {
  opacity: 0.1;
  mix-blend-mode: screen;
  animation: grain 0.4s steps(1) infinite;
  height: 100vh;
  width: 100vw;
  background-image: url("https://assets.codepen.io/14179/noise-256w.png");
  z-index: 100;
  pointer-events: none;
}

@keyframes grain {
  0%,
  100% {
    background-position: 0 0;
  }
  20% {
    background-position: 50% 50%;
  }
  40% {
    background-position: 25% 25%;
  }
  60% {
    background-position: 75% 75%;
  }
  80% {
    background-position: 0% 100%;
  }
}

/* Custom Renderers classes */
.multi-column-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 20px;
}

.multi-column-list li {
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
}
@keyframes waveAnimationLeft {
  0% {
    transform: translateX(0) translateY(35%);
  }
  50% {
    transform: translateX(-25%) translateY(5%);
  }
  100% {
    transform: translateX(-50%) translateY(35%);
  }
}

@keyframes waveAnimationRight {
  0% {
    transform: translateX(0) translateY(40%);
  }
  50% {
    transform: translateX(25%) translateY(10%);
  }
  100% {
    transform: translateX(50%) translateY(40%);
  }
}

.wave-container {
  position: absolute;
  width: 200%; /* Ensure there's enough width for the animation to loop smoothly */
  height: 100%;
  display: flex;
}

.wave-container-left {
  left: 0;
}

.wave-container-right {
  right: 0;
  transform: translateX(-50%);
}
.wave-container svg {
  height: 100%;
  width: 50%;
}

.slow-right {
  animation: waveAnimationRight 12s linear infinite;
}

.medium-left {
  animation: waveAnimationLeft 10s linear infinite;
}

.fast-right {
  animation: waveAnimationRight 7s linear infinite;
}

.veryfast-left {
  animation: waveAnimationLeft 9s linear infinite;
}
